.locationCard {
  cursor: pointer;
  user-select: none;
  transition: width 0.2s ease;
}

.mostVisitedTab {
  font-weight: 500;
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-xl);

  &[data-active="true"] {
    background: var(--mantine-color-blue-7);
    border-color: var(--mantine-color-blue-7);
  }
}

.tourListCard {
  transition: box-shadow 0.2s ease;
  overflow: hidden;

  &:hover {
    box-shadow: var(--mantine-shadow-md);
  }
}

.selectedTourCard {
  cursor: pointer;
  user-select: none;
  transition: width 0.2s ease;
}

.cityCard {
  cursor: pointer;
  overflow: hidden;
}

.hotel {
  cursor: pointer;
  transition: background-color .2s ease;
  border: 1px solid transparent;

  &:hover {
    border-color: var(--mantine-color-gray-3);
  }

  &[data-active="true"] {
    background: var(--mantine-color-blue-0) !important;
    border-color: var(--mantine-color-blue-3);
  }
}